# 2-3 Intro Python Practice  
## power iteration of sequences

<font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- Iterate through Lists using **`for`** and **`in`**
- Use **`for` *`count`* `in range()`** in looping operations  
- Use list methods **`.extend()`, `+, .reverse(), .sort()`**  
- convert between lists and strings using  **`.split()`** and **`.join()`**
- cast strings to lists **/** direct multiple print outputs to a single line.  ** `print("hi", end='')`**

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1</B></font>
##  list iteration: `for in`
### `for item in list:`

In [1]:
# [ ] print out the "physical states of matter" (matter_states) in 4 sentences using list iteration
# each sentence should be of the format: "Solid - is state of matter #1" 
matter_states = ['solid', 'liquid', 'gas', 'plasma']
for word in matter_states:
    if word == 'solid':
        print('Solid - is state of matter #1')
    elif word == 'liquid':
        print('Liquid - is state of matter #2')
    elif word == 'gass':
        print('Gas - is state of matter #3')
    else:
        print('Plasma - is state of matter #4')

Solid - is state of matter #1
Liquid - is state of matter #2
Plasma - is state of matter #4
Plasma - is state of matter #4

In [2]:
# [ ] iterate the list (birds) to see any bird names start with "c" and remove that item from the list
# print the birds list before and after removals
birds = ["turkey", "hawk", "chicken", "dove", "crow"]
print(birds)
for word in birds:
    if word.startswith('c'):
        birds.remove(word)
print(birds)

['turkey', 'hawk', 'chicken', 'dove', 'crow']
['turkey', 'hawk', 'dove']

In [5]:
# the team makes 1pt, 2pt or 3pt baskets
# [ ] print the occurace of each type of basket(1pt, 2pt, 3pt) & total points using the list baskets
baskets = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]
pt_1 = baskets.count(1)
pt_2 = baskets.count(2)
pt_3 = baskets.count(3)
total = sum(baskets)
print('1 point was scored a total of',pt_1,'times')
print('2 point was scored a total of',pt_2,'times')
print('3 point was scored a total of',pt_3,'times')
print('The total amount of points scored was',total)

1 point was scored a total of 4 times
2 point was scored a total of 8 times
3 point was scored a total of 3 times
The total amount of points scored was 29

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>
##  iteration with `range(start)` & `range(start,stop)`

In [7]:
# [ ] using range() print "hello" 4 times
for i in range(4):
    print("hello")

hello
hello
hello
hello

In [15]:
# [ ] find spell_list length
# [ ] use range() to iterate each half of spell_list  
# [ ] label & print the first and second halves
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
length = len(spell_list)
mid_pt = int(length/2)
print("First half:")
for word in range(0,mid_pt):
    print(spell_list[word])
print("Second half:")
for word in range(mid_pt,length):
    print(spell_list[word])

First half:
Tuesday
Wednesday
February
Second half:
November
Annual
Calendar
Solstice

In [4]:
# [ ] build a list of numbers from 20 to 29: twenties 
# append each number to twenties list using range(start,stop) iteration
# [ ] print twenties
twenties = []
for i in range(20,30):
    twenties.append(i)
print(twenties)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [5]:
# [ ] iterate through the numbers populated in the list twenties and add each number to a variable: total
# [ ] print total
total = 0
for num in twenties:
    total += num
print(total)

245

In [3]:
# check your answer above using range(start,stop)
# [ ] iterate each number from 20 to 29 using range()
# [ ] add each number to a variable (total) to calculate the sum
# should match earlier task 
total = 0
for i in range(20,30):
    total += i
print(total)

245

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>
##  iteration with `range(start:stop:skip)`

In [ ]:
# [ ] create a list of odd numbers (odd_nums) from 1 to 25 using range(start,stop,skip)
# [ ] print odd_nums
# hint: odd numbers are 2 digits apart

In [ ]:
# [ ] create a Decending list of odd numbers (odd_nums) from 25 to 1 using range(start,stop,skip)
# [ ] print odd_nums,  output should resemble [25, 23, ...]

In [ ]:
# the list, elements, contains the names of the first 20 elements in atomic number order
# [ ] print the even number elements "2 - Helium, 4 - Beryllium,.." in the list with the atomic number
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']

In [ ]:
# [ ] # the list, elements_60, contains the names of the first 60 elements in atomic number order
# [ ] print the odd number elements "1 - Hydrogen, 3 - Lithium,.." in the list with the atomic number elements_60
elements_60 = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', \
 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', \
 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', 'Potassium', 'Calcium', 'Hydrogen', \
 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', \
 'Argon', 'Potassium', 'Calcium', 'Scandium', 'Titanium', 'Vanadium', 'Chromium', 'Manganese', \
 'Iron', 'Cobalt', 'Nickel', 'Copper', 'Zinc', 'Gallium', 'Germanium', 'Arsenic', 'Selenium', \
 'Bromine', 'Krypton', 'Rubidium', 'Strontium', 'Yttrium', 'Zirconium']

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 4</B></font>
## combine lists with `+` and `.extend()`

In [ ]:
# [ ] print the combined lists (numbers_1 & numbers_2) using "+" operator
numbers_1 = [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

# pythonic casting of a range into a list
numbers_2 = list(range(30,50,2))

print("numbers_1:",numbers_1)
print("numbers_2",numbers_2)

In [ ]:
# [ ] print the combined element lists (first_row & second_row) using ".extend()" method
first_row = ['Hydrogen', 'Helium']
second_row = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

print("1st Row:", first_row)
print("2nd Row:", second_row)

## Project: Combine 3 element rows
Choose to use **"+" or ".extend()" **to build output similar to   

```
The 1st three rows of the Period Table of Elements contain:
['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

The row breakdown is
Row 1: Hydrogen, Helium
Row 2: Lithium, Beryllium, Boron, Carbon, Nitrogen, Oxygen, Fluorine, Neon
Row 3: Sodium, Magnesium, Aluminum, Silicon, Phosphorus, Sulfur, Chlorine, Argon
```

In [ ]:
# [ ] create the program: combined 3 element rows 

elem_1 = ['Hydrogen', 'Helium'] 
elem_2 = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
elem_3 = ['Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

In [ ]:
# [ ] .extend() jack_jill with "next_line" string - print the result
jack_jill = ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill']
next_line = ['To', 'fetch', 'a', 'pail', 'of', 'water']

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 5</B></font>
## .reverse() : reverse a list in place

In [ ]:
# [ ] use .reverse() to print elements starting with "Calcium", "Chlorine",... in reverse order
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']

In [ ]:
# [ ] print words in spell_list that 8 or more characters in length in reverse order
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 6</B></font>
## .sort() and sorted()

In [ ]:
# [ ] sort the list element, so names are in alphabetical order and print elements
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']

In [ ]:
# [ ] print the list, numbers, sorted and then below print the original numbers list 
numbers = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 7</B></font>
## Converting a string to a list with `.split()`

In [ ]:
# [ ] split the string, daily_fact, into a list of word strings: fact_words
# [ ] print each string in fact_words in upper case on it's own line
daily_fact = "Did you know that there are 1.4 billion students in the world?"

In [ ]:
# [ ] convert the string, code_tip, into a list made from splitting on the letter "o"

In [ ]:
# [ ] split poem on "b" to create a list: poem_words
# [ ] print poem_words by iterating the list
poem = "The bright brain, has bran!"

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 8</B></font>
## `.join()`
### build a string from a list

In [ ]:
# [ ] print a comma separated string output from the list of Halogen elements using ".join()"
halogens = ['Chlorine', 'Florine', 'Bromine', 'Iodine']

In [ ]:
# [ ] split the sentence, code_tip, into a words list
# [ ] print the joined words in the list with no spaces in-between
# [ ] Bonus: capitalize each word in the list before .join()
code_tip ="Read code aloud or explain the code step by step to a peer"

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 8</B></font>  
## `list(string)` & `print("hello",end=' ')`

- **Cast a string to a list** 
- **print to the same line**

In [ ]:
# [ ] cast the long_word into individual letters list 
# [ ] print each letter on a line
long_word = 'decelerating'

In [ ]:
# [ ] use use end= in print to output each string in questions with a "?" and on new lines
questions = ["What's the closest planet to the Sun", "How deep do Dolphins swim", "What time is it"]

In [ ]:
# [ ] print each item in foot bones 
#    - capitalized, both words if two word name
#    - separated by a comma and space
#    - and keeping on a single print line
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; © 2017 Microsoft